#maindiv {
  display: flex;
  justify-content: center;
}

.eebody {
  display: block;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin: 15px;
}

#barcode_scanner {
  min-width: 360px;
  max-width: 500px;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.white {
  background-color: white;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.txtblock {}

.headercontainer {
  display: inline-block;
  min-width: 200px;
}

.txtheader {
  /* margin: 5px; */
  margin-bottom: 15px;
  padding: 10px;
  background-color: #ccd9ff;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  max-width: 110px;
}

.inputcontainer {
  margin-top: 10px;
  width: 100%;
}

.bcodeinput {
  display: inline-block;
  width: auto;
}

button {
  padding: 0;
  border: none;
}

.manualbutton {
  margin: 0;
  display: inline-block;
  background-color: #33d266;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  width: 40px;
  border: none;
}

.txttxt {
  display: inline-block;
  max-width: 110px;
}

.flush {
  position: fixed;
  top: 1em;
  right: 1em;
}

.flushtext {
  background-color: #ccf5ff;
  border-radius: 3px;
  margin: 5px;
  padding: 3px;
  cursor: pointer;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid black;
  border-bottom: 16px solid red;
  border-right: 16px solid white;
  border-left: 16px solid green;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Setting up animation in any browser */
  animation: spin 2s linear infinite;
}

/* browser configuration */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
